{% extends "EkynaAdminBundle:Entity:layout.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_demo.brand.header.list'|trans|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn('ekyna_demo.brand', 'new') }}
{% endblock %}

{% block main %}
{{ ekyna_table_render(brands) }}
{% endblock %}