{% extends 'EkynaAdminBundle::base.xml.twig' %}

{% block response %}
<title>{{ 'ekyna_demo.category.header.new'|trans|raw }}</title>
<form><![CDATA[
<form action="{{ path('ekyna_demo_category_admin_new', identifiers) }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include "EkynaDemoBundle:Category/Admin:_form.html.twig" %}
    {{ ui_form_footer(form) }}
</form>
]]></form>
{% endblock %}
