{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
    <div class="col-md-6">
		{{ cms_title() }}
		{{ cms_content() }}
    </div>
    <div class="col-md-6">
        
    </div>
</div>
{% endblock %}