{% extends "EkynaAdminBundle:Entity:layout.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_demo.tag.header.list'|trans|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn('ekyna_demo.tag', 'new') }}
{% endblock %}

{% block main %}
{{ ekyna_table_render(tags) }}
{% endblock %}